<!--The content below is only a placeholder and can be replaced.-->
<div [class]="theme">
  <div>
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <md-card>
    <button md-raised-button color="primary">Primary</button>
    <button md-raised-button color="accent">Accent</button>
    <button md-raised-button color="warn">Warn</button>
  </md-card>
  <br>
  <md-card>
    <md-select placeholder="Theme" [(ngModel)]="theme"
    (change)="onThemeChange()">
      <md-option value="my-theme">My Theme</md-option>
      <md-option value="my-second-theme">My Second Theme</md-option>
    </md-select>
  </md-card>
  <br>
  <md-card>
    <amte-parent>
      <h1>SOME TRANSCLUDED STUFF</h1>
    </amte-parent>
  </md-card>
</div>

