$my-theme-primary: mat-palette($mat-blue, 700, 900, 500);
$my-theme-accent: mat-palette($mat-teal);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);
